.bg{height:1920px;

    background-image: url("../image/assassins.jpg") ;
    background-repeat:no-repeat ;

}
hr{
    padding-bottom: 30px;
    padding-top:30px;
    max-width: 50px;
    border-width: 3px;
    border-color: black;

}
p{font-size: 30px;

   color: red;
}
button{align-content: center;
background-color: orange;
    border: none;
    border-radius: 120px;
}